body
{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:"Courier";
    font-size: 16;
    margin: 0;
    padding: 0;
}

#container
{
    width: 25%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#containr h1
{
    font-size: 20px;
}